#header-nav{
  background-color: skyblue;
  border: 0;
  border-radius: 0;
}
.navbar-brand h1{
  float: left;
  margin: 0;
  font-size:30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
