#header-nav{
  background-color: skyblue;
  border: 0;
  border-radius: 0;
}
.navbar-brand h1{
  float: left;
  margin: 0;
  font-size:30px;
}
#nav-list{
margin-top: 10px;
background-color: #teal;
}
#nav-list a{
  text-align: center;
  background-color: #teal;
  border: 1px solid black;
}
