body{
  background-color: wheat;
  color: blue;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#header-nav{
  background-color: skyblue;
  border: 0;
  border-radius: 0;
  color: navy;
}
.navbar-brand h1{
  float: left;
  margin: 0;
  font-size:30px;
}
#nav-list{
background-color: teal;

}
#nav-list a{
  text-align: center;
  color: navy;
  font-size: 18px;
  border: 1px solid black;
}
#nav-list a:hover{
  background: lime;
}

#full-tile{
  background-color: violet;
  padding: 10px;
  font-size: 20px;
}
